.crypto-pugs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px 24px;
    transition: visibility 0.75s ease, opacity 0.75s ease;

    &.active {
        visibility: hidden;
        opacity: 0;
    }

    &.hidden {
        display: none;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    &__card {
        max-width: 254px;
    }

    &__image-wrapper {
        position: relative;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        max-width: 254px;
    }

    &__image {
        display: block;
        max-width: 100%;
    }

    &__name {
        font: $font-weight-normal #{$font-size-token-name}/$line-height-token-name $main-font-name;
        color: $text-color-main;
        margin: 0 0 8px;
    }

    &__type {
        font: $font-weight-light #{$font-size-token-type}/$line-height-token-type $main-font-name;
        margin: 0;
        color: $text-color-caption;
    }

    &__data {
        border: 1px solid #c4dde2;
        border-top: none;
        border-radius: 0 0 8px 8px;
        padding: 20px;
    }
    
    &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;

        &:after {
            content: '';
            display: block;
            background: #fff url("assets/images/link-arrow.svg") no-repeat 23px 28px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }

        &:hover {
            opacity: 1;
        }
    } 
}

@media screen and (max-width: 850px) {
    .crypto-pugs {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 572px) {
    .crypto-pugs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 420px) {
    .crypto-pugs {
        grid-template-columns: 1fr;
    }
}