.secret-messages {
    display: grid;
    grid-gap: 32px 24px;
    grid-template-columns: repeat(3, 1fr);

    &__card {
        max-width: 347px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__image {
        display: block;
        max-width: 100%;;
    }

    &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;

        &:after {
            content: '';
            display: block;
            background: #fff url("assets/images/link-arrow.svg") no-repeat 23px 28px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }

        &:hover {
            opacity: 1;
        }
    } 
}

@media screen and (max-width: 758px) {
    .secret-messages {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 420px) {
    .secret-messages {
        grid-template-columns: 1fr;
    }
}