// Size
$main-width: 1128px;

// Fonts
$main-font-name: 'Roboto', sans-serif;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

$font-size-summary-description: 14px;
$font-size-link: 16px;
$font-size-main: 18px;
$font-size-contact-secondary: 24px;
$font-size-item-header: 32px;
$font-size-summary-number: 32px;
$font-size-subheader: 48px;
$font-size-header: 62px;

$line-height-summary-description: 16px;
$line-height-main: 40px;
$line-height-header: 88px;
$line-height-item-header: 48px;


// Medium size fonts
$font-size-header-m: 54px;
$font-size-header-s: 42px;

$font-size-subheader-m: 42px;
$font-size-subheader-s: 36px;

$font-size-main-s: 16px;
$font-size-item-header-s: 28px;

$line-height-main-s: 32px;
$line-height-item-header-s: 40px;

$line-height-header-m: 64px;
$line-height-header-s: 58px;
$line-height-subheader-s: 48px;


// Colors
$text-color-main: #000;
$text-color-tooltip: #727f89;
$link-color: #0d51ff;

// Token card
$font-size-token-type: 14px;
$font-size-token-name: 17px;

$line-height-token-type: 16px;
$line-height-token-name: 24px;

$text-color-caption: #666;

