// Size
$main-width: 1088px;

// Fonts
$main-font-name: 'Roboto', sans-serif;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

$font-size-link: 16px;
$font-size-main: 18px;
$font-size-header: 62px;
$font-size-subheader: 48px;
$font-size-item-header: 32px;

$line-height-main: 40px;
$line-height-header: 88px;
$line-height-item-header: 48px;

// Colors
$text-color-main: #000;
$text-color-tooltip: #727f89;
$link-color: #0d51ff;

// Token card
$font-size-token-type: 14px;
$font-size-token-name: 17px;

$line-height-token-type: 16px;
$line-height-token-name: 24px;

$text-color-token-type: #666;


